{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/47e585cff9.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href='{% static "css/base.css" %}'/>

    <title>{% block head_title %}Try Django 1.9{% endblock head_title %}</title>

    {% block extra_head %}

    {% endblock extra_head %}
</head>
<body>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0"></script>

{% include 'messages_display.html' %}
<div class="'container">
    {% block content %}

    {% endblock content %}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.7.0/marked.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".post-detail-item img").each(function () {
            $(this).addClass('img-fluid')
        });

        let contentInput = $("#id_content");

        function setContent(value) {
            let markedContent = marked(value);
            $("#preview-content").html(markedContent)
            $("#preview-content img").each(function () {
                $(this).addClass('img-fluid')
            })
        }

        setContent(contentInput.val());

        contentInput.keyup(function () {
            let newContent = $(this).val();
            setContent(newContent)
        })

        let titleInput = $("#id_title");

        function setTitle(value) {
            let markedContent = marked(value);
            $("#preview-title").html(markedContent)
        }

        if (titleInput.val()) {
            setTitle(titleInput.val());
        }

        titleInput.keyup(function () {
            let newTitle = $(this).val();
            setTitle(newTitle)
        });

        $(".comment-reply-btn").click(function (event) {
            event.preventDefault();
            let div = $(this).parent().next(".comment-reply");
            div.fadeToggle();
        })
    })
</script>
</body>
</html>
