{% extends 'base.html' %}
{% block content %}
    <div class="col-sm-6 offset-sm-3">
        <h1>{{ title }}</h1>
        <form method="GET" action="">
            <input type="text" name='q' placeholder="Search posts" value="{{ request.GET.q }}"/>
            <input type="submit" value="Search">
        </form>
        {% for obj in objects_list %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            {% if obj.image %}
                                <img src="{{ obj.image.url }}" class="img-fluid" style="margin-bottom: 10px">
                            {% endif %}
                            {% if obj.draft %}
                                <h4>Staff only: Draft</h4>
                            {% endif %}
                            {% if obj.publish > today %}
                                <h4>Staff only: Future Post</h4>
                            {% endif %}
                            <h5 class="card-title"><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a><br/>
                                <small>{{ obj.publish }}</small>
                            </h5>
                            {% if obj.user.get_full_name %}
                                <p>Author: {{ obj.user.get_full_name }}</p>
                            {% endif %}
                            <p class="card-text content-markdown">{{ obj.content|truncatechars:150 }}</p>
                            <a href="{{ obj.get_absolute_url }}" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        {% endfor %}

        <div class="pagination">
            <span class="step-links">
                {% if objects_list.has_previous %}
                    <a href="?{{ page_request_var }}=

                            {{ objects_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ objects_list.number }} of {{ objects_list.paginator.num_pages }}
                </span>

                {% if objects_list.has_next %}
                    <a href="?{{ page_request_var }}=
                            {{ objects_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
                {% endif %}
            </span>
        </div>

    </div>
{% endblock content %}

