{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block head_title %} {{ block.super }} | {{ title }} {% endblock head_title %}
{% block extra_head %}
    {{ form.media }}
{% endblock extra_head %}
{% block content %}
    <div style="display: flex; justify-content: center">
        <div class="col-sm-6">
            <h1>Preview</h1>
            <hr/>
            <div class="content-preview">
                <h3 id="preview-title"></h3>
                <p id="preview-content"></p>
            </div>
        </div>
        <div class="col-sm-6">
            <h1>{{ title }}</h1>
            <hr/>
        <form method="POST" action="" enctype="multipart/form-data"> {% csrf_token %}
            {{ form|crispy }}
            <input type='submit' class='btn btn-primary' value='Create Post'/>
        </form>
    </div>
    </div>
{% endblock content %}
